.menu
        {
        width: 900px;
        background-color: #1aa4ff;
        margin: auto;
        }
.first_line
    {
    color: Menu;
    display: inline-block;
    width: 70px;
    height: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-family: impact, arial, sans-serif;
    cursor: pointer;
    }
.larger {
        width: 85px;
        }
.second_line
            {
            display: none;
            visibility: hidden;
            }
.first_line:hover ul
            {
            display: inline-flex;
            visibility: visible;
            }

