ul {
    width: 900px;
    background-color: #1aa4ff;
    margin: auto;
    }
li {
    color: Menu;
    display: inline-block;
    width: 70px;
    height: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-family: impact, arial, sans-serif;
    cursor: pointer;
    }
.larger {
        width: 85px;
        }
.second_line
    {
    visibility: hidden;
    display: none;
    }
li:hover {
        background-color: #eeeeee;
        color: #a0a0a0;
        visibility: visible;
        display: inline-block;
        --position: absolute;
        --left: 330px;

}


